
<%- include("partials/header"); -%>


    <h1><%=title%></h1>
    <p><%=content%></p>
    
  
  

    <form class="" action="/" method="post">
        <div class="form-group">
          <label>comments</label>
          <input class="form-control" type="text" name="commentText">
          
         
        </div>
        <button class="btn btn-primary" type="submit" name="cbutton">Submit</button>
      </form>



<%- include("partials/footer"); -%>
